@import 'tailwindcss';

@font-face {
  font-family: 'Inter';
  src:
    local('Inter Italic'),
    local('Inter-Italic'),
    url('./assets/fonts/inter-italic--variable.woff2') format('woff2');
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src:
    local('Inter Regular'),
    local('Inter-Regular'),
    url('./assets/fonts/inter--variable.woff2') format('woff2');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-sans:
    'Inter', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    'Noto Color Emoji';

  --color-primary: var(--color-indigo-800);
  --color-primary-inv: var(--color-white);

  --color-shade-lightest: var(--color-neutral-100);
  --color-shade-light: var(--color-neutral-300);
  --color-shade: var(--color-neutral-500);
  --color-shade-dark: var(--color-neutral-800);

  --color-font: var(--color-shade-dark);
  --color-background: var(--color-white);
  --color-danger: var(--color-red-800);
}

body {
  /* @apply font-light; */
  @apply text-font;
}

input[type="text"],
input[type="password"],
input[type="number"],
input[type="email"] {
  @apply border-2 border-shade-light py-1 px-3 rounded-lg w-full;
}